*{
    padding: 0px;
    margin: 0px;
}
body{

}
header{
    background-color: #415e9b;
    height: 82px;
    border-bottom: 1px solid#133783;
}
img{
    width: 200px;
    height: 80px;
}
.header-block{

    width: 992px;
    margin: 0 auto;
}
.logo{
    width: 50%;
}

.facebook-login{
    width: 50%;
    float: left;
}
